/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	/*header start*/
	.menu ul li a {
	    padding: 0px 0px !important;
	    text-align: right;
	}
	/*header end*/
	/*slider start*/
	.slider {
	    padding-bottom: 60px;
	}
	.cid {
	    bottom: -50px;
	}
	.cid li {
	    width: 10px;
	    height: 10px;	}
	.slider-content {
	    margin-top: 10px;
	}
	.slider-content h1 {
	    font-size: 25px;
	}
	.slider-content h2 {
	    font-size: 18px;
	    margin: 15px 0;
	}
	.slider-content p {
	    margin-bottom: 20px;
	}
	.slider-icon li i {
	    font-size: 30px;
	    margin-right: 10px;
	}
	.slider-img img{
		display: none;
	}
	/*slider end*/
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	/*header start*/
	.menu ul li a {
	    padding: 0px 0px !important;
	    text-align: right;
	}
	/*header end*/
	/*slider start*/
	.slider-content{
		margin-top: 40px;
	}
	.slider-img img{
		display: none;
	}
	/*slider end*/
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
	/*header start*/
	.menu ul li a {
	    padding: 0px 0px !important;
	    text-align: right;
	}
	/*header end*/
	/*slider start*/
	.slider-content {
	    margin-top: 35px;
	}
	/*slider end*/
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}
